Order Deny,Allow
Deny from all
Allow from 192.168.1.1/255.255.255.0
Allow from <external ip> 
AuthType Basic
AuthName "Auth Required"
AuthUserFile "/etc/apache2/htpasswd/.htpasswd"
Require valid-user
